
body{
	background-color:#FFCCFF;
	font-family: 'Architects Daughter', cursive;
}

header{
	text-align: center;
}

.container-fluid{
	max-width: 800px;
}

img{
	margin:auto;
	border:solid;
	border-color:#666;
	border-style: double;
}