
body{
	background-color:#FFCCFF;
	font-family: 'Architects Daughter', cursive;
}

a{
	color:inherit;
}



header, footer{
	text-align: center;
}

footer{
	padding-top:25px;
	color:#000;
	line-height: 1.5em;
}

.container-fluid{
	max-width: 800px;
}

img{
	margin:auto;
	border:solid;
	border-color:#666;
	border-style: double;
}

p.message-to-tap{
	display:none;
}

@media(max-width: 480px){
	p.message-to-tap{
		display:inline;
	}

	p.message-to-hover{
		display:none;
	}
}